torch
transformers
pandas
langvae @ git+https://github.com/neuro-symbolic-ai/LangVAE.git
saf @ git+https://github.com/dscarvalho/saf.git
saf_datasets @ git+https://github.com/neuro-symbolic-ai/saf_datasets.git